<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>61485114230-1e5ncib8ja9pc6l6p1ktiuhebspnv57u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.61485114230-1e5ncib8ja9pc6l6p1ktiuhebspnv57u</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>61485114230-e34ocl5ual7himi3mkgstq15k6f84gb8.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDYzYQJuhzW527IoOOl7YzCABEKcOMGX3I</string>
	<key>GCM_SENDER_ID</key>
	<string>61485114230</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.tz.wexchange.afrisolutions</string>
	<key>PROJECT_ID</key>
	<string>wexchange-765f8</string>
	<key>STORAGE_BUCKET</key>
	<string>wexchange-765f8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:61485114230:ios:a353fb7627410cebfbd057</string>
</dict>
</plist>